
                            /* global */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Muli, sans-serif;
  background-color: #2d2d2d;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
}

                            /* header */
header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

#logo {
  height: 35px;
}

nav {
  width: 35%;
  font-size: 0.9rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  color: #f4f4f4;
  transition: 120ms ease;
}

nav a {
  text-decoration: none;
  color: #f4f4f4;
  transition: 120ms ease;
  padding: 10px 5px 10px 5px;
}

.current a {
  color: #d5d5d5;
}

header a:hover, header li:hover {
  color: #d5d5d5;
  cursor: pointer;
}

#dropdown-content {
  position: absolute;
  display: block;
  padding-top: 8px;
  visibility: hidden;
  opacity: 0;
  transition: 250ms ease;
  transform: translateY(-10px);
}

#dropdown-content li {
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 120px;
}

#dropdown-content a {
  display: block;
}

#dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#dropdown:hover > #dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

                            /* hero */
#hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/hero_image.jpg);
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

#hero-title {
  font-family: Raleway;
  font-size: 3.8rem;
  font-weight: 100;
  letter-spacing: 0.15em;
  color: #f4f4f4;
  padding-top: 42vh;
  padding-bottom: 20px;
}

#hero-subtitle {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.15em;
  color: #f4f4f4;
  padding-bottom: 20vh;
}

#down-arrow img {
  border: 0px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0.75);
  transition: 150ms ease;
}

#down-arrow img:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(0.8);
}


                            /* gallery selection */
#gallery-selection {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.15em;
  height: 90vh;
}

#gallery-selection .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}

#gallery-selection figure {
  margin-top: 100px;
}

#gallery-selection figcaption {
  padding-top: 20px;
}

#gallery-selection img {
  width: 38vw;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  transition: 200ms ease;
  opacity: 0.9;
}

#gallery-selection a {
  text-decoration: none;
  color: #f4f4f4;
}

#gallery-selection img:hover {
  transform: scale(1.015);
  opacity: 1;
}

                            /* footer */
footer {
  height: 10vh;
  background-color: #181818;
  color: #838383;
  font-size: 0.9rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

footer img {
  vertical-align: middle;
  transition: 150ms ease;
}

footer a {
  padding: 12px 0px 12px 5px;
}

footer img:hover {
  transform: scale(1.05);
}
